body {
	font-family:'Helvetica';
	color:white;
}

#footer_standard {
	height:62px;
}
.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#global .ui-icon { background:  url(glyphish-icons/glyphicons_340_globe.png) 50% 50% no-repeat;  background-size: 26px 26px; }
#local .ui-icon { background:  url(glyphish-icons/glyphicons_242_google_maps.png) 50% 50% no-repeat;  background-size: 18px 26px; }
#profile .ui-icon {width: 30px!important; height: 30px!important;  border-radius: 20px !important; -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3)!important;
box-shadow: 0px 1px 4px rgba(0, 0, 0, .3)!important; font-size:20px; line-height:30px; padding-left:2px; border:2px solid white; background-color:black;}
#login .ui-icon { background:  url(glyphish-icons/glyphicons_203_lock.png) 50% 50% no-repeat; z-index:100000;}

#refresh .ui-icon { background:  url(glyphish-icons/glyphicons_081_refresh.png) 50% 50% no-repeat;  background-size: 20px 20px; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#refresh {box-shadow:none;}
#locate .ui-icon { background:  url(glyphish-icons/glyphicons_060_compass.png) 50% 50% no-repeat;  background-size: 100% 100%; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#locate {box-shadow:none; width:30px; height:30px; margin-top:2px; display:block; margin-left:auto;margin-right:auto;}
#add .ui-icon { background:  url(glyphish-icons/glyphicons_190_circle_plus.png) 50% 50% no-repeat;  background-size: 100% 100%; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#add {box-shadow:none; width:30px; height:30px; margin-top:2px; display:block; margin-left:auto;margin-right:auto;}
#ex .ui-icon { background:  url(glyphish-icons/glyphicons_192_circle_remove.png) 50% 50% no-repeat;  background-size: 100% 100%; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#ex {box-shadow:none; width:30px; height:30px; margin-top:2px; display:block; margin-left:auto;margin-right:auto;}
#fav .ui-icon { background:  url(glyphish-icons/glyphicons_049_star.png) 50% 50% no-repeat;  background-size: 100% 100%; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#fav {box-shadow:none; width:30px; height:30px; margin-top:2px; display:block; margin-left:auto;margin-right:auto;}
#back .ui-icon { background:  url(glyphish-icons/glyphicons_210_left_arrow.png) 50% 50% no-repeat;  background-size: 100% 100%; border-radius:0px; display:block; padding-left:auto; padding-right:auto; border:0px; box-shadow:none;}
#back {box-shadow:none; width:30px; height:30px; margin-top:2px; display:block; margin-left:auto;margin-right:auto;}
.top_bar_button {width:30px; max-width:30px;height:30px; border-radius:0px; display:block; padding-left:auto; padding-right:auto; background:transparent; border:0px; box-shadow:none; border-radius:0px; margin:0px; margin-top:0px;}
.top_bar_button span.ui-btn-inner {width:35px;max-width:35px; height:35px; border-radius:10px; background:transparent; padding:0px; margin:0px; border:0px; box-shadow:none;}
/*.slide {overflow:hidden;float:left;display:block;height:345px;background-size:cover;}*/
/*.slide a {height:100%;width:100%;}*/
/*.carousel {width:1200px; float:left;}*/
.slide_container {display:block;margin-left:auto;margin-right:auto;height:100%;position:relative;}
.slide_container img {display:block;margin-left:auto;margin-right:auto;position:absolute;width:100%;height:100%;}
.slide_container .description{position:absolute;text-align:left;left:10px;bottom:60px;color:white;font-family:'HelveticaNeue-Light';font-weight:lighter;font-size:30px;}
.slide_container .info{position:absolute;text-align:left;left:10px;bottom:40px;color:white;font-family:'HelveticaNeue-Light';font-weight:lighter;font-size:15px; text-shadow: 0.1em 0.1em #333;}

.ui-content {padding:0px;}
.carousel-position {position:absolute;text-align:center;bottom:75px;width:100%;color:white;}
#header_title  {font-size:18px; padding:0px; margin:0px;}

#header_title img {height:35px; padding:0px; margin:0px; margin-top:0px;}
.on {color:grey;}

.position em {
	font-size:30px;
	font-style:normal;
}

.no-bottom-left-corner {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}
.no-bottom-right-corner {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.no-top-left-corner {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
.no-top-right-corner {
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

.placeholder {
	width: 100%;
	background-color: #FF4500;
	color: white;
	text-align: center;
	font-weight:bold;
	text-shadow: 0.1em 0.1em #333;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index:1000;
	margin-bottom:20px;
	position:relative;
	top:24px;
}

.placeholder2 {
	top:0px;
	font-size:16px;
}

.background {
	/*background-image: url('http://f.cl.ly/items/1p0F351X2w2M3U411g3z/light.png');*/
	background:whitesmoke;
	background-repeat: repeat-y;
	width:100%;
	height: auto;
}
.switchFields {
	text-align: center;
	
}

.switchFields a {
	color:#2489CE;
}
.crop {
	width:100%;
	height:100px;
	border:
	overflow: hidden;
	margin-bottom:-8px;
	}
.crop img{
	width: 100%;
	height: 250px;
	margin: -100px 0 -100px 0px;
	}

.cropProfile {
	width:106%;
	height:100px;
	overflow: hidden;
	/*margin-top:10px;*/
	border-bottom:4px solid white;
}
.cropProfile img {
	width: 100%;
	display:block;
	height: 300px;
	margin: -100px 0 -100px 0px;
		margin-left:auto;
		margin-right:auto;
	/*border:5px solid #666;
 	border-radius:10px;
*/

}

a {
	font-family:'HelveticaNeue-Light';
}

.pageBanner {
	width: 100%;
	background-color: #6CA6CD;
	color: white;
	text-align: center;
	font-weight:bold;
	text-shadow: 0.1em 0.1em #333;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -2px;
	margin-bottom: 0px;
	border-bottom:4px solid white;
}
.favoriteSuccess {
	width: 105%;
	background-color: #6CA6CD;
	color: white;
	text-align: center;
	font-weight:bold;
	text-shadow: 0.1em 0.1em #333;
	font-size: 12px;
	margin-top: 8px;
	}
.deleteFavorite {
	margin-top: 70px;
}

.bottom {
	margin-bottom:0px;
}
#form {
	width: 90%;
	max-width: 400px;
	display: block;
	margin-left: 5%;
}
		
.add_form {
	width:100%;
	
	margin-left:auto; 
	margin-right:auto;
	padding-top:5px;
	min-height:340px;

}

.submit {
	margin-top:30px;
}

.form_table {
	width:95%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	/*border:3px solid black; */
	padding:5px; 
	padding-bottom:0px;
	border-radius:10px;
}

.form_table tbody {
	
	
	margin-left:auto;
	margin-right:auto;

}

tr.row_label td label{
	height:30px; 
	font-family:'HelveticaNeue';
	font-weight:bold;
	line-height:40px;

}

.form_table td {
	width:98%; 
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

.form_table td input {
	width:100%; 
}

#submit_div {
	max-width:90%;
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

#signupdiv {
	max-width:80%;
	margin-left:auto;
	margin-right: auto;
}

#logindiv {
	max-width:80%;
	margin-left:auto;
	margin-right: auto;
}

.logo {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-25px;
	display: block
}

		a {
			font-family:'HelveticaNeue-Light';
			text-shadow:none;
			display:block;
			color:white;
		}
		.profilePhotoText {
			font-family:'HelveticaNeue-Light';
			color: white;
			text-align: center;
			line-height:20px;
			/*margin-right: 5px;*/
			text-shadow: 1px 1px #333;
			text-decoration: none;
			font-size: 30px;
			font-weight:bold;
			/*line-height:100px;*/
			position:relative;
			top:-90px;
		}
		
		.favoriteSuccess {
			width: 105%;
			background-color: #6CA6CD;
			color: white;
			text-align: center;
			font-weight:bold;
			text-shadow: 0.1em 0.1em #333;
			font-size: 12px;
			margin-top: 8px;
			}

		.disgoProfilePhotoText {
			position: absolute;
			text-align: left;
			margin-top: -40px;
			margin-left: 5%;
			color:white;
			font-family:'HelveticaNeue-Light';
			font-weight:normal;
			font-size:14px;
			text-shadow: 0.1em 0.1em #333;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			}
		.discoverProfilePhotoText {
			position: absolute;
			text-align: left;
			margin-top: 25px;
			margin-left: 3%;
			max-width:45%;
			color:white;
			font-weight:normal;
			font-size:16px;
			font-weight:bold;
			text-shadow: 1px 1px #333;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			}
		.ui-grid-a {
			background:white;
			padding-bottom:10px;
		}
		.frameTop {
		   margin-bottom:-15px;
		   margin-top:0px;
		   
		}
		.frameBottom {
		   margin-bottom:-15px;
		   margin-top:0px;
		  
		}
		


		.discoverPhoto {
		    width: 92%;
		    /*border:1px solid black;*/
		    display:block;
		    margin-left:auto;
		    margin-right:auto;
		    height: auto;
		    max-height: 110px;
		    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3)!important;
			box-shadow: 0px 1px 4px rgba(0, 0, 0, .3)!important;
		}
		.bottom {
			margin-bottom:0px;
		}
		#form {
			width: 90%;
			max-width: 400px;
			display: block;
			margin-left: 5%;
		}
				
		.add_form {
			width:100%;
			
			margin-left:auto; 
			margin-right:auto;
			padding-top:5px;
			min-height:340px;

		}

		.submit {
			margin-top:30px;
		}

		.form_table {
			width:95%;
			height:100%;
			margin-left:auto;
			margin-right:auto;
			/*border:3px solid black; */
			padding:5px; 
			padding-bottom:0px;
			border-radius:10px;
		}

		.form_table tbody {
			
			
			margin-left:auto;
			margin-right:auto;

		}

		tr.row_label td label{
			height:30px; 
			font-family:'HelveticaNeue';
			font-weight:bold;
			line-height:40px;

		}

		.form_table td {
			width:95%; 
			display:block; 
			margin-left:auto;
			margin-right:auto;
		}

		.form_table td input {
			width:100%; 
		}

		#submit_div {
			max-width:90%;
			display:block; 
			margin-left:auto;
			margin-right:auto;
		}

.upload_form_cont {
   /* background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: -ms-linear-gradient(#ffffff, #f2f2f2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
    background: linear-gradient(#ffffff, #f2f2f2);
*/
    color:#000;
    /*overflow:hidden;*/
    max-width:100%;
    background:#ddd;
}
#upload_form {
    
}
#preview {
    background-color:#fff;
    display:block;
    float:left;
    width:200px;
}
#upload_form > div {
    margin-bottom:10px;
}
#speed,#remaining {
    float:left;
    width:100px;
}
#b_transfered {
    float:right;
    text-align:right;
}
.clear_both {
    clear:both;
}
input {
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    border:1px solid transparent;
    font-size:14pt;
    padding:5px 1px;
   
}

input.title {
	font-size:16pt;
    padding:0px 5px;
    height:70px;
    box-shadow:none;
    border:1px solid transparent;

}
input[type=button] {
   /* background: -moz-linear-gradient(#ffffff, #dfdfdf);
    background: -ms-linear-gradient(#ffffff, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(#ffffff, #dfdfdf);
    background: -o-linear-gradient(#ffffff, #dfdfdf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
    background: linear-gradient(#ffffff, #dfdfdf);*/
   
    opacity:.3;
}
#image_file {
    width:100%;
    border:1px solid transparent;
}
#progress_info {
    font-size:10pt;
}
#fileinfo,#error,#error2,#abort,#warnsize {
    color:#aaa;
    display:none;
    font-size:10pt;
    font-style:italic;
    margin-top:10px;
}
#progress {
    border:1px solid #ccc;
    display:none;
    float:left;
    height:16px;
    margin-top:5px;
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    background: -moz-linear-gradient(#66cc00, #4b9500);
    background: -ms-linear-gradient(#66cc00, #4b9500);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
    background: -webkit-linear-gradient(#66cc00, #4b9500);
    background: -o-linear-gradient(#66cc00, #4b9500);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
    background: linear-gradient(#66cc00, #4b9500);
}
#progress_percent {
    float:right;
}
#upload_response {
  
    overflow: hidden;
    display: none;
    border: 1px solid #ccc;

    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    box-shadow: 0 0 5px #ccc;
    background: -moz-linear-gradient(#bbb, #eee);
    background: -ms-linear-gradient(#bbb, #eee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #eee));
    background: -webkit-linear-gradient(#bbb, #eee);
    background: -o-linear-gradient(#bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee')";
    background: linear-gradient(#bbb, #eee);
}


.commentBox {
	background-image: url('http://f.cl.ly/items/3Q440g2q1T2P292f0h0B/white.png');
	width:100%;
}

.counter {
	text-align: center;
}

.contribute {
	padding-bottom: 6px;
	opacity: 0.9;
}

.alignment {
	width:100%;
}

#comments_label {
	font-size:20px; 
	float:left;
	margin-top:23px; 
}

#location_label {
	font-size:12px;
	font-weight:bold;
}

#popupBasic {
	font-size:14px;	
	font-family:'Courier New', 'Monaco';
	padding:5px; 
}

.smallspan {
	/*width:10px;
	max-width:10px; */
	overflow:hidden;
	margin-left:5px;
	margin-right:2px; 
}

#fav1 {
	position:absolute;
	top:2px; 
	right:10px;
	height:100px;
	float: right;
	overflow:hidden;
}

.specialBtn {		
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  box-shadow:
    0 8px 0 #1a74a1,
    0 15px 20px rgba(0,0,0,.35);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  -moz-transition: -moz-box-shadow .2s ease-in-out;
  -o-transition: -o-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.specialBtn span {	
  display: inline-block;
  padding: 10px  20px;
  font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(19,65,88,.8);
  background: #3194c6;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
  background: -moz-linear-gradient(#3194c6, #5bacd6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}



.bounding-box {
	 background-repeat: no-repeat;
  	background-size: cover;

}

.waitload img{
	
	display:block; 
	padding-bottom:30px;
	padding-top:30px; 
	margin-left:auto;
	margin-right:auto;
}

.no-border {
	border:none;
}

.top_bar_button2:hover {
	text-decoration:none;
}

.left_header_button {
	padding-left:28px;
}

.carousel {
	margin-bottom:0px;
}

.right_arrow_link {
	font-size:30px;
	margin-top:0px;
	
}

.link_pic {
	font-size:20px;
	line-height:30px;
	font-family:'Helvetica';
	color:white;
}

.no_disgo_add {
	display:block;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	line-height:30px;
}

.no_disgo_add span {
		font-size:13px;

}

a:hover {
	text-decoration:none;
}

#current_coords {
	text-align:center;
	margin-bottom:0px;
}

.distance_away {
	font-size:14px;
	line-height:34px;
	margin-right:10px;
}

.place_title {
	display:inline-block;
	width:150px;
	max-width:150px;
	/*max-height:30px;*/
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.vote {
	width:40px;
	padding:0px;
	margin:0px;



}

.vote span:first-child {
	font-size:12px;
	padding-left:0px;
	

}

.location_table {
	/*margin-top:60px;*/
}

.title_location {
	display:inline-block;
	width:130px;
	max-width:130px;
	/*max-height:35px;*/
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.header_height {
	max-height:40px;
	height:40px;
}

#button_cell {
	padding:0px;
}

.comment_text {
	padding-top:5px;
	word-wrap: break-word;
	word-break:break-all;
	overflow:hidden;
/*	max-width:10%;
	width:10%;*/
}

#skip {
	color:#2489CE;
}

.instructions {
	display:block;
		width:95%; 

	margin-left:auto;
	margin-right:auto;

}
